<!doctype html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Ghost - Subscribe</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="{{asset "public/ghost.css" hasMinFile="true"}}"/>
    <script type="text/javascript" src="{{asset "js/libs/jquery-1.11.3.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/libs/underscore.js"}}"></script>        

    <!-- start Mixpanel -->
    <script type="text/javascript">
    (function(c, a) {
        if (!a.__SV) {
            var b = window;
            try { var d, m, j, k = b.location,
                    f = k.hash;
                d = function(a, b) { return (m = a.match(RegExp(b + "=([^&]*)"))) ? m[1] : null };
                f && d(f, "state") && (j = JSON.parse(decodeURIComponent(d(f, "state"))), "mpeditor" === j.action && (b.sessionStorage.setItem("_mpcehash", f), history.replaceState(j.desiredHash || "", c.title, k.pathname + k.search))) } catch (n) {}
            var l, h;
            window.mixpanel = a;
            a._i = [];
            a.init = function(b, d, g) {
                function c(b, i) {
                    var a = i.split(".");
                    2 == a.length && (b = b[a[0]], i = a[1]);
                    b[i] = function() {
                        b.push([i].concat(Array.prototype.slice.call(arguments,
                            0)))
                    }
                }
                var e = a;
                "undefined" !== typeof g ? e = a[g] = [] : g = "mixpanel";
                e.people = e.people || [];
                e.toString = function(b) { var a = "mixpanel"; "mixpanel" !== g && (a += "." + g);
                    b || (a += " (stub)"); return a };
                e.people.toString = function() { return e.toString(1) + ".people (stub)" };
                l = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" ");
                for (h = 0; h < l.length; h++) c(e, l[h]);
                var f = "set set_once union unset remove delete".split(" ");
                e.get_group = function() {
                    function a(c) { b[c] = function() { call2_args = arguments;
                            call2 = [c].concat(Array.prototype.slice.call(call2_args, 0));
                            e.push([d, call2]) } } for (var b = {}, d = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < f.length; c++) a(f[c]); return b };
                a._i.push([b, d, g])
            };
            a.__SV = 1.2;
            b = c.createElement("script");
            b.type = "text/javascript";
            b.async = !0;
            b.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ?
                MIXPANEL_CUSTOM_LIB_URL : "file:" === c.location.protocol && "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn4.mxpnl.com/libs/mixpanel-2-latest.min.js";
            d = c.getElementsByTagName("script")[0];
            d.parentNode.insertBefore(b, d)
        }
    })(document, window.mixpanel || []);
    </script>
    <!-- end Mixpanel -->

</head>
<body>
<div class="gh-app">
    <div class="gh-viewport">
        <main class="gh-main" role="main">
            <div class="gh-flow">
                <header class="gh-flow-head">
                    <nav class="gh-flow-nav">
                        <a href="{{#if subscribed_url}}{{subscribed_url}}{{else}}{{@site.url}}{{/if}}" class="gh-flow-back">
                            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                            <svg width="17px" height="27px" viewBox="0 0 17 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
                                <title>arrow-left3</title>
                                <desc>Created with Sketch.</desc>
                                <defs></defs>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                                    <g id="Stroke-42" transform="translate(2.000000, 2.000000)" stroke-width="3" stroke="#0B0B0A">
                                        <polyline points="13.5401 0.4256 0.3971 11.9256 13.5401 23.4256"></polyline>
                                    </g>
                                </g>
                            </svg>
                            Back
                        </a>
                    </nav>
                </header>

                <div class="gh-flow-content-wrap">
                    <section class="gh-flow-content">
                        {{^if success}}
                            <header>
                                <h1>Subscribe to {{@site.title}}</h1>
                            </header>

                            {{subscribe_form
                                form_class="gh-signin"
                                input_class="gh-input"
                                button_class="gh-btn gh-btn-blue gh-btn-block"
                                placeholder="Your email address"
                                autofocus="true"
                            }}
                        {{else}}
                            <header>
                                <h1>Subscribed!</h1>
                            </header>

                            <p>
                                You've successfully subscribed to <em>{{@site.title}}</em>
                                with the email address <em>{{email}}</em>.
                            </p>
                        {{/if}}
                    </section>
                </div>
            </div>
        </main>
    </div>
</div>
    <script type="text/javascript" src="{{asset "js/analytics/analytics.js"}}"></script>
</body>
</html>
